
:root{
--burnt-sienna: #e76f51ff;
--orange-yellow-crayola: #e9c46aff;
--charcoal: #264653ff;
--persian-green: rgb(155, 157, 42);
--sandy-brown: #f4a261ff;
}


header{
    text-align: center;
    margin: 16px;
    font-size:24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
}
.column {
    background-color: aquamarine;
    margin: 4px;
    display:flex;
    margin-bottom: ;
    margin-top: ;
    padding: 0;   
}

.button {
    

}

.img{

}