*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
--burnt-sienna: #e76f51ff;
--orange-yellow-crayola: #e9c46aff;
--charcoal: #264653ff;
--persian-green: rgb(155, 157, 42);
--sandy-brown: #f4a261ff;
}


header{
    text-align: center;
    margin: 16px;  
    /* background-color: #FFBF69; */
}

html {
    background-image: url("https://images.pexels.com/photos/4113891/pexels-photo-4113891.jpeg?cs=srgb&dl=pexels-alleksana-4113891.jpg&fm=jpg:");
}

.save-button {
    display: inline-block;
    text-align: left;
    align-items: left;
    margin-right: 32px;
    
}

.saved-items {
    border: solid  #2EC4B6;
    display: inline-block;
    padding: 4px;
    background-color: white;
}


h1 {
    font-size: 48px;
    color: white;
}

h2 {
    font-size: 16px;
    margin-bottom: 8px;
    color: white;
}

h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 16px;
    color: white;
}

.columns {
    background-color: #CBF3F0;
    margin: 8px;
    padding: 16px;
    min-height: 325px;
    border: solid #2EC4B6;
}
